a {
    color: $primary-brand;
    text-decoration: none;

    &:active,
    &:hover,
    &:visited {
        text-decoration: underline;
    }
    
    &:visited {
        color: $primary-moon;
    }
    
    &:hover {
        color: darken($primary-brand, 10%);
    }
    
    &:active {
        color: darken($primary-brand, 20%);
    }
}

body {
  color: #888;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

html {
    font-family: $sans-serif-font-stack;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: #333;
}
