code,
kbd,
pre,
samp { font-family: $mono-font-stack; }

code,
kbd {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

code,
kbd,
pre { border-radius: 2px; }

code {
    background-color: $code-bg-color;
    color: $code-text-color;
}

kbd {
    background-color: $kbd-bg-color;
    color: $kbd-text-color;
}

pre {
    background-color: $pre-bg-color;
    color: $pre-text-color;
    border: 1px solid darken($pre-bg-color, 5%);
    display: block;
    line-height: 1.25;
    overflow-x: auto;
    padding: 1em;
}
