@import "mixins/shadows";

.form {
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #eee;
    border-radius: 3px;
    font-family: inherit;
    font-size: $body-font-size;
    line-height: 20px;
    min-height: 34px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
    
    &.form-default:focus, &.form-default-active {
        border: 1px solid $primary-default;
        @include shadow($primary-default);
    }
    
    &.form-brand:focus, &.form-brand-active {
        border: 1px solid $primary-brand;
        @include shadow($primary-brand);
    }
    
    &.form-dust:focus, &.form-dust-active {
      border: 1px solid $primary-dust;
      @include shadow($primary-dust);
    }
    
    &.form-flame:focus, &.form-flame-active {
      border: 1px solid $primary-flame;
      @include shadow($primary-flame);
    }
    
    &.form-leaf:focus, &.form-leaf-active {
      border: 1px solid $primary-leaf;
      @include shadow($primary-leaf);
    }
    
    &.form-moon:focus, &.form-moon-active {
      border: 1px solid $primary-moon;
      @include shadow($primary-moon);
    }
}
