.column {
  flex: 1 1 auto;
  padding: 10px;

  .columns.mobile > &.narrow {
    flex: none;
  }

  .columns.mobile > &.full {
    flex: none;
    width: 100%;
  }

  .columns.mobile > &.three-quarters {
    flex: none;
    width: 75%;
  }

  .columns.mobile > &.two-thirds {
    flex: none;
    width: 66.6666%;
  }

  .columns.mobile > &.half {
    flex: none;
    width: 50%;
  }

  .columns.mobile > &.one-third {
    flex: none;
    width: 33.3333%;
  }

  .columns.mobile > &.one-quarter {
    flex: none;
    width: 25%;
  }

  .columns.mobile > &.offset-three-quarters {
    margin-left: 75%;
  }

  .columns.mobile > &.offset-two-thirds {
    margin-left: 66.6666%;
  }

  .columns.mobile > &.offset-half {
    margin-left: 50%;
  }

  .columns.mobile > &.offset-one-third {
    margin-left: 33.3333%;
  }

  .columns.mobile > &.offset-one-quarter {
    margin-left: 25%;
  }

  @for $i from 1 through 12 {
    .columns.mobile > &.#{$i} {
      flex: none;
      width: $i / 12 * 100%;
    }

    .columns.mobile > &.offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }

  @include mobile {
    &.narrow-mobile {
      flex: none;
    }

    &.full-mobile {
      flex: none;
      width: 100%;
    }

    &.three-quarters-mobile {
      flex: none;
      width: 75%;
    }

    &.two-thirds-mobile {
      flex: none;
      width: 66.6666%;
    }

    &.half-mobile {
      flex: none;
      width: 50%;
    }

    &.one-third-mobile {
      flex: none;
      width: 33.3333%;
    }

    &.one-quarter-mobile {
      flex: none;
      width: 25%;
    }

    &.offset-three-quarters-mobile {
      margin-left: 75%;
    }

    &.offset-two-thirds-mobile {
      margin-left: 66.6666%;
    }

    &.offset-half-mobile {
      margin-left: 50%;
    }

    &.offset-one-third-mobile {
      margin-left: 33.3333%;
    }

    &.offset-one-quarter-mobile {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.#{$i}-mobile {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.offset-#{$i}-mobile {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include tablet {
    &.narrow,
    &.narrow-tablet {
      flex: none;
    }

    &.full,
    &.full-tablet {
      flex: none;
      width: 100%;
    }

    &.three-quarters,
    &.three-quarters-tablet {
      flex: none;
      width: 75%;
    }

    &.two-thirds,
    &.two-thirds-tablet {
      flex: none;
      width: 66.6666%;
    }

    &.half,
    &.half-tablet {
      flex: none;
      width: 50%;
    }

    &.one-third,
    &.one-third-tablet {
      flex: none;
      width: 33.3333%;
    }

    &.one-quarter,
    &.one-quarter-tablet {
      flex: none;
      width: 25%;
    }

    &.offset-three-quarters,
    &.offset-three-quarters-tablet {
      margin-left: 75%;
    }

    &.offset-two-thirds,
    &.offset-two-thirds-tablet {
      margin-left: 66.6666%;
    }

    &.offset-half,
    &.offset-half-tablet {
      margin-left: 50%;
    }

    &.offset-one-third,
    &.offset-one-third-tablet {
      margin-left: 33.3333%;
    }

    &.offset-one-quarter,
    &.offset-one-quarter-tablet {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.#{$i},
      &.#{$i}-tablet {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.offset-#{$i},
      &.offset-#{$i}-tablet {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include desktop {
    &.narrow-desktop {
      flex: none;
    }

    &.full-desktop {
      flex: none;
      width: 100%;
    }

    &.three-quarters-desktop {
      flex: none;
      width: 75%;
    }

    &.two-thirds-desktop {
      flex: none;
      width: 66.6666%;
    }

    &.half-desktop {
      flex: none;
      width: 50%;
    }

    &.one-third-desktop {
      flex: none;
      width: 33.3333%;
    }

    &.one-quarter-desktop {
      flex: none;
      width: 25%;
    }

    &.offset-three-quarters-desktop {
      margin-left: 75%;
    }

    &.offset-two-thirds-desktop {
      margin-left: 66.6666%;
    }

    &.offset-half-desktop {
      margin-left: 50%;
    }

    &.offset-one-third-desktop {
      margin-left: 33.3333%;
    }

    &.offset-one-quarter-desktop {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.#{$i}-desktop {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.offset-#{$i}-desktop {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include widescreen {
    &.narrow-widescreen {
      flex: none;
    }

    &.full-widescreen {
      flex: none;
      width: 100%;
    }

    &.three-quarters-widescreen {
      flex: none;
      width: 75%;
    }

    &.two-thirds-widescreen {
      flex: none;
      width: 66.6666%;
    }

    &.half-widescreen {
      flex: none;
      width: 50%;
    }

    &.one-third-widescreen {
      flex: none;
      width: 33.3333%;
    }

    &.one-quarter-widescreen {
      flex: none;
      width: 25%;
    }

    &.offset-three-quarters-widescreen {
      margin-left: 75%;
    }

    &.offset-two-thirds-widescreen {
      margin-left: 66.6666%;
    }

    &.offset-half-widescreen {
      margin-left: 50%;
    }

    &.offset-one-third-widescreen {
      margin-left: 33.3333%;
    }

    &.offset-one-quarter-widescreen {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.#{$i}-widescreen {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.offset-#{$i}-widescreen {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}

.columns {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;

  &:last-child {
    margin-bottom: -10px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  // Modifiers
  &.centered {
    justify-content: center;
  }

  &.gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    & > .column {
      margin: 0;
      padding: 0;
    }
  }

  &.grid {
    // Responsiveness
    @include tablet {
      flex-wrap: wrap;

      & > .column {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
        padding: 10px;
        width: 33.3333%;

        & + .column {
          margin-left: 0;
        }
      }
    }
  }

  &.mobile {
    display: flex;
  }

  &.multiline {
    flex-wrap: wrap;
  }

  &.vcentered {
    align-items: center;
  }

  // Responsiveness
  @include tablet {
    &:not(.desktop) {
      display: flex;
    }
  }


  @include desktop {
    // Modifiers
    &.desktop {
      display: flex;
    }
  }
}

.tile {
  align-items: stretch;
  flex: 1 1 auto;
  min-height: min-content;

  // Modifiers
  &.ancestor {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;

    &:last-child {
      margin-bottom: -10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &.child {
    margin: 0 !important;
  }

  &.parent {
    padding: 10px;
  }

  &.vertical {
    flex-direction: column;

    & > .tile.child:not(:last-child) {
      margin-bottom: 20px !important;
    }
  }

  // Responsiveness
  @include tablet {
    &:not(.child) {
      display: flex;
    }

    @for $i from 1 through 12 {
      &.#{$i} {
        flex: none;
        width: $i / 12 * 100%;
      }
    }
  }
}
