// _radio.scss

// Hide default radios

input[type=radio]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

// Position radios

input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
}

// Outside radio

input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0725em solid #e0e0e0;
  border-radius: 1.5em;
  background: #fff;
  background-image: linear-gradient(#eee, #fff);
  vertical-align: bottom;
}

// Style the radio dot

input[type=radio]:not(old):checked +  label > span > span {
  display: block;
  width: 0.85em;
  height: 0.85em;
  margin: 0.25em;
  border-radius: 0.5em;
  background: linear-gradient($blue, lighten($blue, 10%));
  background-image: #ccc;
}