.section {
  background-color: $white;
  padding: 40px 20px;

  // Responsiveness
  @include desktop {
    // Sizes
    &.medium {
      padding: 120px 20px;
    }

    &.large {
      padding: 240px 20px;
    }
  }
}
