@import "mixins/gradients";

.container {
  line-height: $base-line-height;
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}

.header {
    padding: 2em;
    text-align: center;

    li {
        display: inline-block;
        list-style-type: none;
        padding: .5em;
        vertical-align: center;
    }

}
