// Component colors
$primary-brand: #4ea5d9 !default;
$primary-candy: #d8abd4 !default;
$primary-dust: #b89685 !default;
$primary-flame: #e03431 !default;
$primary-leaf: #79ce80 !default;
$primary-light: #f5f7f9 !default;
$primary-moon: #5762d5 !default;

// Font stack
$sans-serif-font-stack: Oxygen, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif !default;
$serif-font-stack: Georgia, "Times New Roman", Times, serif !default;
$mono-font-stack: "Oxygen Mono", Menlo, "Lucida Console", "Roboto Mono", "Ubuntu Mono", monospace !default;

// Code
$code-text-color: #92b4a7 !default;
$kbd-bg-color: #261c15 !default;
